<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hello, world!</title>
  </head>
  <style>
        .row {
            margin: 0 0 0 0;
        }
  </style>
  <body>
    <nav class="navbar navbar-dark bg-primary">
            <div class="container">
            <a class="navbar-brand" href="#">방송 광고 통합 등록 시스템</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
                </div>
            </div></div>
        </nav>
    <div class="container">
        <br>
        <h1>{{ title }}</h1>
        <hr>
        <input type="hidden" id="adtitle" name="title" value={{title}}>
        <input type="hidden" id="addu" name="duration" value={{duration}}>
        <input type="hidden" id="atype" name="type" value={{type}}>
        {% for media in medias %}
        <input type="hidden" id="custId" name="medias" value={{media}}>
        <div class="card" style="">
        <div class="row">
            <div class="col-md-4" style='background-image: url("{{url_for("static", filename="jpg/"+media+"_front.jpg")}}"); background-size: cover; background-repeat: no-repeat;'>
                <!-- <img class="w-100 h-100" height="400px" src="{{ url_for('static', filename='jpg/aaa.jpg')}}" alt="Card image cap"> -->
            </div>
            <div class='col-md-8'>
                <div class="card-body">
                        <h5 class="card-title">{{media}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">원하시는 요일과 시간을 선택해주세요</h6>
                       
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="addays" placeholder="요일을 순서대로 입력해주세요. ex) 월수금">
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1" name="adtimes">
                                <option>오후 6시</option>
                                <option>오후 7시</option>
                                <option>오후 8시</option>
                                <option>오후 9시</option>
                                <option>오후 10시</option>
                                <option>오후 11시</option>
                            </select>
                        </div>
               
                        <a href="#" class="card-link">방송 시간표 보기</a>
                        <a href="#" class="card-link">단가 확인하기</a>
                </div>
            </div>
        </div>
        </div>
        <br>
        {% endfor %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>